apiVersion: v1
kind: ServiceAccount
metadata:
  name: sysdig-kspm-collector
  namespace: sysdig-shield
  annotations:
    argocd.argoproj.io/sync-wave: "1"
  labels:
    app.kubernetes.io/name: sysdig-kspm-collector
    app.kubernetes.io/component: kspm-collector
    app.kubernetes.io/part-of: sysdig-shield
