apiVersion: v1
kind: ServiceAccount
metadata:
  name: sysdig-node-analyzer
  namespace: sysdig-shield
  annotations:
    argocd.argoproj.io/sync-wave: "1"
  labels:
    app.kubernetes.io/name: sysdig-node-analyzer
    app.kubernetes.io/component: node-analyzer
    app.kubernetes.io/part-of: sysdig-shield
