apiVersion: v1
kind: ServiceAccount
metadata:
  name: sysdig-agent
  namespace: sysdig-shield
  annotations:
    argocd.argoproj.io/sync-wave: "1"
  labels:
    app.kubernetes.io/name: sysdig-agent
    app.kubernetes.io/component: agent
    app.kubernetes.io/part-of: sysdig-shield
